.contact .info-item {
    background: rgba(244, 244, 244, 0.96);
    padding: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
}

.contact .info-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.contact .info-item i {
    font-size: 30px;
    color: #467576;
    margin-bottom: 15px;
}

.contact .info-item h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 10px 0;
    color: #000;
}

.contact .info-item p {
    padding: 0;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 0;
    color: #000;
}

.contact .php-email-form {
    background: rgba(244, 244, 244, 0.96);
    padding: 30px;
    height: 100%;
    transition: transform 0.3s;
    border-radius: 10px;
}

.contact .php-email-form:hover {
    transform: translateY(-5px);
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 10px;
    color: #000;
    background-color: rgba(244, 244, 244, 0.96);
    border: 1px solid rgba(220, 220, 220, 0.96);
    transition: border-color 0.3s;
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
    border-color: #467576;
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.contact .php-email-form button[type=submit] {
    background: #467576;
    color: #fff;
    border: 0;
    padding: 10px 30px;
    transition: background-color 0.4s;
    border-radius: 4px;
    cursor: pointer;
}

.contact .php-email-form button[type=submit]:hover {
    background: none;
    border: 1px solid #467576;
    color: #467576;
    transition: background-color 0.4s;
}

/* Disabled submit button */
button[type="submit"]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Loading, error, and success message styles */
.loading {
    font-size: 16px;
    color: #007bff;
    /* Loading in blue */
    margin-bottom: 10px;
}

.error-message {
    font-size: 16px;
    color: #dc3545;
    margin-bottom: 10px;
}

.sent-message {
    font-size: 16px;
    color: #28a745;
    margin-bottom: 10px;
}

.phoneNumber a {
    text-decoration: none !important;
    color: #000
}