table {
  margin-top: 2rem;
  --border: 1px solid black;
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
}

tbody {
  background-color: white;
}

th {
  vertical-align: middle;
  padding-left: 20px;
}

td {
  padding-left: 20px;
  min-width: 200px;
}

th {
  color: var(--mainTextColor);
}

@media (max-width: 768px) {
  table thead {
    display: contents;
  }
  table tbody tr {
    display: flex;
    flex-direction: column;
  }
  table tbody tr td,
  table tbody tr th {
    display: block;
    width: 100%;
  }
  table tbody tr td:last-child {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }
}
/* @media screen and (max-width: 750px) {
  tbody,
  thead {
    float: left;
  }
  thead {
    min-width: 120px;
  }
  td,
  th {
    display: block;
  }
} */

/* @media  (min-width: 768px) {
.content {
    margin-left: 280px;
  }
} */

/* Sidebar toggle button */
.toggle-sidebar {
  z-index: 1001;
}
