<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">SL</th>
        <th scope="col">{{ firstColumnHeader }}</th>
        <th scope="col">{{ secondColumnHeader }}</th>
        <th scope="col">{{ thirdColumnHeader }}</th>
        <th scope="col">{{ fourthColumnHeader }}</th>
        <ng-content #fifthColumnHeader></ng-content>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <ng-content #firstContent></ng-content>
        <ng-content #secondContent></ng-content>
        <ng-content #thirdContent></ng-content>
        <ng-content #fourthContent></ng-content>
        <ng-content #fifthContent></ng-content>
      </tr>
    </tbody>
  </table>
</div>
