<div class="white_box_50px box_shadow_white bg-white p-5 rounded-3">
  <form
    method=""
    action=""
    accept-charset="UTF-8"
    id="content_form"
    novalidate=""
  >
    <input
      name="_token"
      type="hidden"
      value="mVMJwZSJYWS6noc3GmlxkosjfXqY4smTfKWrR2Yw"
    />
    <app-label-input
      labelName="Client Name"
      inputPlaceholder="Select CLient"
      inputType="select"
      addFeature="Create New"
    />
    <app-label-input
      labelName="Client Name"
      inputPlaceholder="Select CLient"
      inputType="select"
    />
    <app-label-input
      labelName="Client Name"
      inputPlaceholder="Select CLient"
      inputType="select"
      addFeature="Create New"
    />
    <app-label-input
      labelName="Client Name"
      inputPlaceholder="Select CLient"
      inputType="select"
    />

    <!--    <div class="col-xl-12 mt-2">
        <div class="main-title d-flex">
            <h3 class="mb-0 mr-30">More Info</h3>
        </div>
    </div>
    <hr>-->
  </form>
</div>
