th {
  color: var(--mainTextColor);
  background-color: var(--mainColor);
  color: white;
}

td {
  color: var(--textTablecolor);
  padding: 8px;
}

td,
th {
  vertical-align: middle;
}

.name:hover {
  text-decoration: underline;
  cursor: pointer;
}
