@if (loading) {
<div class="d-flex justify-content-center">
  <app-loading-screen />
</div>
} @else {
<div class="">
  <app-secondary-nav
    tableTitle="All Cases"
    addNewButton="New Case"
    addingRoute="add-case"
    (btnClicked)="toggleFormVisibility()"
    (search)="handleSearch($event)"
  />

  <app-adding-form
    *ngIf="isFormVisable"
    [formType]="formType"
    [formHeader]="formHeader"
    [formInputRows]="newCasesInputRows"
    [onFormSubmit]="submitForm"
    [form]="form"
    (backdropClicked)="toggleFormVisibility()"
  ></app-adding-form>

  <app-table
    firstColumnHeader="Case"
    secondColumnHeader="Client"
    thirdColumnHeader="Details"
    fourthColumnHeader="Actions"
  >
    <th
      scope="col"
      style="color: var(--mainTextColor)"
      ngProjectAs="fourthColumnHeader"
    >
      Status
    </th>
    <th
      scope="col"
      style="color: var(--mainTextColor)"
      ngProjectAs="fifthColumnHeader"
    >
      Action
    </th>
    @for (case of paginatedCases; track $index) {
    <tr>
      <td class="text-center">{{ $index + 1 }}</td>
      <td
        casetd
        [caseDetail]="['/cases', case.id]"
        [caseName]="case.case_name"
        [caseId]="case.id"
        [caseCategory]="
          case.case_category_id ? case.categoryName : 'No Category'
        "
        [caseDate]="case.case_date"
        [caseGrade]="case.case_grade"
      ></td>
      <td
        client-td
        *ngIf="case.client"
        [userProfile]="['/clients', case.client.id]"
        [clientName]="case.client.name"
        [clientMobile]="case.client.mobile"
        [clientEmail]="case.client.email"
        [clientAddress]="case.client.address"
      ></td>
      <td *ngIf="!case.client">No Client Assigned</td>
      <td>
        Court Name : {{ case.court?.name }} <br />
        Court Location: {{ case.court?.location }}
      </td>
      <td>
        @if (case.status === 'closed') {
        <button class="btn btn-danger">Closed</button>} @else if (case.status
        === 'waiting') {<button class="btn btn-warning">Waiting</button>} @else
        { <button class="btn btn-success">running</button>}
      </td>
      <td>
        <div class="custom-select">
          <select
            (change)="onActionSelect($event, case.id!)"
            name="SELECT"
            id=""
          >
            <option value="">SELECT</option>
            <option value="View">View</option>
            <option value="Update">Update</option>
            <option value="Delete">Delete</option>
          </select>
          <i
            class="fa-solid fa-arrow-down"
            style="color: var(--mainTextColor)"
          ></i>
        </div>
      </td>
    </tr>
    }
  </app-table>
  <div #paginatorContainer class="paginator-container">
    <mat-paginator
      [length]="cases?.length"
      [pageSize]="5"
      (page)="onPageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
}
