td,
th {
  vertical-align: middle;
}

th {
  background-color: var(--mainColor);
}

td:not(:first-child) {
  color: var(--textTablecolor);
  font-weight: bold;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--mainColor);
  padding: 5px 20px;
  border-radius: 40px;
  outline: none;
  color: white;
  cursor: pointer;
  border: 2px solid var(--mainColor);
  transition: 0.2s ease-in-out;
}

.custom-select i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent the icon from being clickable */
  color: white !important;
}

select:hover,
select:hover .custom-select i {
  background: rgb(247, 0, 190);
  background: linear-gradient(
    151deg,
    rgba(247, 0, 190, 1) 1%,
    rgba(228, 8, 200, 1) 17%,
    rgba(223, 10, 203, 1) 21%,
    rgba(212, 15, 209, 1) 30%,
    rgba(198, 21, 216, 1) 42%,
    rgba(180, 28, 226, 1) 57%,
    rgba(128, 50, 253, 1) 100%
  );
  color: white !important;
}

select option {
  color: white;
  cursor: pointer;
}

.me-5 {
  flex: auto;
}

.court-info {
  color: var(--secondaryColor);
}

.justify-content-center {
  margin-top: 20vh;
  align-items: center;
}

.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  background-color: var(--mainColor);
  border-radius: 4px;
  color: white;
}

span {
  color: var(--textTablecolor);
}
