<div
  class="wrapper"
  style="background-image: url('assets/registrationFrom/lawyerBg.jpg')"
>
  <div class="inner">
    <div class="image-holder">
      <img src="assets/registrationFrom/lawyerMain.jpeg" alt="" />
    </div>
    <form>
      <h3>Login Form</h3>

      <div class="form-wrapper">
        <input
          type="text"
          placeholder="Email Address"
          class="form-control"
          name="form-control"
          [(ngModel)]="enteredEmail"
        />
        <i class="zmdi zmdi-email"></i>
      </div>
      <div class="form-wrapper">
        <input
          type="password"
          placeholder="Password"
          class="form-control"
          name="form-control"
          [(ngModel)]="enteredPassword"
        />
        <i class="zmdi zmdi-lock"></i>
      </div>
      <div class="actions">
        <a routerLink="/register">
          <button type="button">Register</button>
        </a>
        <button type="button" login (click)="onLoginHandler()">
          Login
          <i class="zmdi zmdi-arrow-right"></i>
        </button>
      </div>
    </form>
  </div>
</div>
