.drop-container {
  background-color: #828bb2;
}

.drop-container li a {
  color: white;
}

.drop-container li {
  cursor: pointer;
}

.drop-container li:hover {
  background-color: var(--secondaryColor);
  backdrop-filter: 0.9;
}

.activated {
  color: white !important;
  background-color: var(--secondaryColor) !important;
  border-left: 4px solid var(--mainColor) !important;
}
