* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.form-box {
  position: absolute;
  margin: 0 auto;
  width: 26%;
  background-color: #fff;
  border-radius: 8px;
  z-index: 1010;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-in-out forwards;
  right: 37%;
}

.form-box h2 {
  color: white;
  font-size: 24px;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--mainColor);
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  max-height: 60vh;
  overflow-y: scroll;
}
form::-webkit-scrollbar {
  display: none;
}

p {
  color: #fff;
  margin-top: 10px;
}

/* button {
  background: linear-gradient(to right, #6366f1, #3b82f6);
  color: #fff;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  align-self: center;
} */

/* button:hover {
  background: linear-gradient(to right, #4f46e5, #2563eb);
} */
.form-inputs {
  height: 80%;
  overflow: scroll;
}
.form-inputs::-webkit-scrollbar {
  display: none;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  .form-box {
    width: 90%;
    animation: none;
    padding: 30px;
    right: 5%;
  }
}
@media (max-width: 1080px) {
  .form-box {
    width: 90%;
    animation: none;
    padding: 30px;
    right: 5%;
  }
}
