<div class="backdrop" (click)="closeForm()"></div>
<div class="form-box">
  <h2 class="mb-2">{{ formHeader }}</h2>
  <form class="px-3 pb-3">
    <div class="form-inputs">
      @for (item of formInputRows; track $index) {
      <app-input-row
        [input_Info]="item"
        (inputChanged)="saveInputData(item.backed_key, $event)"
        [form]="form"
      />
      }
    </div>
    <div class="actions d-flex justify-content-between">
      <button class="btn btn-danger w-25 p-1" (click)="closeForm()">
        Cancel
      </button>
      <button
        class="btn w-25 p-1"
        style="background-color: var(--mainColor); color: white"
        type="button"
        (click)="submitForm()"
      >
        {{ formType }}
      </button>
    </div>
  </form>
</div>
