<footer id="footer" class="footer position-relative light-background">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-about">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span class="sitename">Shady Ragaay</span>
                </a>
                <p>Specialized in providing top-tier legal services and consultancy. Shady Ragaay is committed to
                    delivering personalized solutions for all your legal needs.</p>
                <div class="social-links d-flex mt-4">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61564836693306"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Our Stats</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>33 Abo Bakr El Sedeek </p>
                <p>Heliopolis, Cairo</p>
                <p>Egypt</p>
                <p class="mt-4"><strong>Phone:</strong> <span>+20 109 759 7536</span></p>
                <p><strong>Email:</strong> <span>contact&#64;shadyragaay.com</span></p>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="sitename"> Shady Ragaay </strong> <span>All Rights Reserved</span>
        </p>
        <div class="credits">
            Designed With Love in ITI
        </div>
    </div>

</footer>