<div class="">
  <app-secondary-nav
    tableTitle="Client List"
    addNewButton="New Client"
    (btnClicked)="toggleFormVisibility()"
  />

  <app-adding-form
    *ngIf="isFormVisible"
    [formType]="formType"
    [formHeader]="formHeader"
    [formInputRows]="newClientInputRows"
    [onFormSubmit]="submitForm"
    (backdropClicked)="toggleFormVisibility()"
    (inputChanged)="checkChangedInput($event)"
  ></app-adding-form>

  <app-table
    firstColumnHeader="Client"
    secondColumnHeader="Contact"
    thirdColumnHeader="Address"
  >
    <th scope="col" ngProjectAs="fourthColumnHeader">Action</th>
    @for (client of clients; track $index) {
    <tr>
      <td style="color: var(--mainTextColor)" class="text-center">
        {{ $index + 1 }}
      </td>
      <td class="name" [routerLink]="['/clients', client.id]">
        {{ client.name }}
      </td>
      <td>
        Mobile: {{ client.mobile }} <br />
        Email: {{ client.email }}
      </td>
      <td>{{ client.address }}</td>
      <td>
        <div class="custom-select">
          <select
            (change)="onActionSelect($event, client.id!)"
            name="SELECT"
            id=""
          >
            <option value="">SELECT</option>
            <option value="View">View</option>
            <option value="Update">Update</option>
            <option value="Delete">Delete</option>
          </select>
          <i
            class="fa-solid fa-arrow-down"
            style="color: var(--mainTextColor)"
          ></i>
        </div>
      </td>
    </tr>
    }
  </app-table>
</div>
