<div class="">
  <app-secondary-nav
    tableTitle="Client List"
    addNewButton="New Client"
    addingRoute="add-case"
    (btnClicked)="toggleFormVisibility()"
  />

  <app-adding-form
    *ngIf="isFormVisible"
    formHeader="Add New Client"
    [formInputRows]="newClientInputRows"
    [onFormSubmit]="submitForm"
  ></app-adding-form>

  <app-table
    firstColumnHeader="Client"
    secondColumnHeader="Contact"
    thirdColumnHeader="Address"
    fourthColumnHeader="Action"
  >
    @for (client of clients; track $index) {
    <tr>
      <td style="color: var(--mainTextColor)">{{ $index + 1 }}</td>
      <td>{{ client.name }} <br />Email</td>
      <td>
        Mobile: {{ client.mobile }} <br />
        Email: {{ client.email }}
      </td>
      <td>{{ client.address }}</td>
      <td>
        <div class="custom-select">
          <select
            (change)="onActionSelect($event, client.id)"
            name="SELECT"
            id=""
          >
            <option value="">SELECT</option>
            <option value="View">View</option>
            <option value="Delete">Delete</option>
          </select>
          <i
            class="fa-solid fa-arrow-down"
            style="color: var(--mainTextColor)"
          ></i>
        </div>
      </td>
    </tr>
    }
  </app-table>
</div>
