<div
  class="wrapper"
  style="background-image: url('assets/registrationFrom/lawyerBg.jpg')"
>
  <div class="inner">
    <div class="image-holder">
      <img src="assets/registrationFrom/lawyerMain.jpeg" alt="" />
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="onRegisterHandler()">
      <h3>Registration Form</h3>

      <div class="form-group">
        <input
          type="text"
          placeholder="First Name"
          formControlName="firstName"
          class="form-control"
        />
        <div
          *ngIf="
            registrationForm.get('firstName')?.touched &&
            registrationForm.get('firstName')?.invalid
          "
          class="error-message"
        >
          First Name is required
        </div>

        <input
          type="text"
          placeholder="Last Name"
          formControlName="lastName"
          class="form-control"
        />
        <div
          *ngIf="
            registrationForm.get('lastName')?.touched &&
            registrationForm.get('lastName')?.invalid
          "
          class="error-message"
        >
          Last Name is required
        </div>
      </div>
      <div class="form-wrapper">
        <input
          type="email"
          placeholder="Email Address"
          formControlName="email"
          class="form-control"
        />
        <div
          *ngIf="
            registrationForm.get('email')?.touched &&
            registrationForm.get('email')?.invalid
          "
          class="error-message"
        >
          Please enter a valid email address
        </div>
      </div>

      <div class="form-wrapper">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          class="form-control"
        />
        <div
          *ngIf="
            registrationForm.get('password')?.touched &&
            registrationForm.get('password')?.invalid
          "
          class="error-message"
        >
          Password must be at least 6 characters long
        </div>
      </div>

      <div class="form-wrapper">
        <input
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          class="form-control"
        />
        <div
          *ngIf="
            registrationForm.get('confirmPassword')?.touched &&
            registrationForm.hasError('mismatch')
          "
          class="error-message"
        >
          Passwords must match
        </div>
      </div>

      <button type="submit">Register</button>
    </form>
  </div>
</div>
