<div
  class="wrapper"
  style="background-image: url('assets/registrationFrom/lawyerBg.jpg')"
>
  <div class="inner">
    <div class="image-holder">
      <img src="assets/registrationFrom/lawyerMain.jpeg" alt="" />
    </div>
    <form action="">
      <h3>Registration Form</h3>
      <div class="form-group">
        <input
          type="text"
          placeholder="First Name"
          name="First Name"
          class="form-control"
          [(ngModel)]="enteredFirstName"
        />
        <input
          type="text"
          placeholder="Last Name"
          name="Last Name"
          class="form-control"
          [(ngModel)]="enteredLastName"
        />
      </div>
      <!-- <div class="form-wrapper">
        <input type="text" 
          placeholder="Username"
          name="Username"
         class="form-control" />
        <i class="zmdi zmdi-account"></i>
      </div> -->
      <div class="form-wrapper">
        <input
          type="text"
          placeholder="Email Address"
          name="Email Address"
          class="form-control"
          [(ngModel)]="enteredEmail"
        />
        <i class="zmdi zmdi-email"></i>
      </div>
      <!-- <div class="form-wrapper">
        <select name="" id="" class="form-control">
          <option value="" disabled selected>Gender</option>
          <option value="male">Male</option>
          <option value="femal">Female</option>
          <option value="other">Other</option>
        </select>
        <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
      </div> -->
      <div class="form-wrapper">
        <input
          type="password"
          placeholder="Password"
          name="Password"
          class="form-control"
          [(ngModel)]="enteredPassword"
        />
        <i class="zmdi zmdi-lock"></i>
      </div>
      <div class="form-wrapper">
        <input
          type="password"
          placeholder="Confirm Password"
          name="Confirm Password"
          class="form-control"
          [(ngModel)]="enteredConfirmPassword"
        />
        <i class="zmdi zmdi-lock"></i>
      </div>
      <button type="button" (click)="onRegisterHandler()">
        Register
        <i class="zmdi zmdi-arrow-right"></i>
      </button>
    </form>
  </div>
</div>
