.mainSide {
  position: fixed;
}

.logo {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.d-flex {
  position: relative;
  width: 100%;
}

.mainSide {
  border-right: 1px solid var(--mainColor);
}

.drop-container {
  background-color: var(--secondaryColor);
}

.arrowDown i {
  color: var(--secondaryColor);
}

.activated {
  color: white !important;
  background-color: var(--mainColor) !important;
  border-left: 4px solid var(--secondaryColor) !important;
  .nav-link,
  .arrowDown i {
    color: white;
  }
}

.nav-link {
  color: var(--secondaryColor);
  border-radius: 0;
}

.nav-list {
  cursor: pointer;
  align-items: center;
  /* border-left: 4px solid transparent; */
}

.nav-list:hover {
  color: white !important;
  background-color: var(--mainColor);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  /* border-left: 4px solid var(--secondaryColor); */
  .nav-link,
  .arrowDown i {
    color: white !important;
  }
}

.sidebar {
  width: 280px;
  transition: transform 0.3s ease-in-out;
  height: 100vh;
  z-index: 1000111;
}

.sidebar.active {
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(0);
  width: 280px;
}

@media (max-width: 786px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    z-index: 100011111;
    height: 100%;
    background: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(3px) !important;
  }
}

.sidebar.active {
  transform: translateX(0);
}

.d-flex.sidebar-open .content {
  margin-left: 0;
}

.content {
  transition: margin-left 0.3s ease-in-out;
  width: 100%;
}

@media (min-width: 768px) {
  .content {
    margin-left: 280px;
  }
}

.toggle-sidebar {
  z-index: 9999999999999999999;
}
