<div class="d-flex mainSide" [class.sidebar-open]="isSidebarOpen">
  <div
    class="sidebar d-flex flex-column flex-shrink-0 text-white bg-transparent"
    [class.active]="isSidebarOpen"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 p-3 me-md-auto text-decoration-none"
      style="color: var(--mainTextColor)"
    >
      <span class="fs-4">Sidebar</span>
    </a>
    <hr style="color: var(--mainTextColor)" />
    <ul class="nav nav-pills flex-column mb-auto">
      <li
        class="nav-list"
        routerLink="dashboard"
        routerLinkActive="activated"
        (click)="closeAllDropdowns()"
      >
        <a class="nav-link">
          <i class="fa-solid fa-table-cells"></i>
          Dashboard
        </a>
      </li>
      <li
        (click)="clientsToggle()"
        class="d-flex justify-content-between nav-list"
        [ngClass]="{ activated: clientsDropDown }"
      >
        <div>
          <a class="nav-link">
            <i class="fa-solid fa-users"></i>
            Clients</a
          >
        </div>
        <div class="arrowDown p-2">
          @if (clientsDropDown) {
          <i class="fa-solid fa-chevron-down"></i>
          } @else {<i class="fa-solid fa-chevron-up"></i> }
        </div>
      </li>
      @if (clientsDropDown) {
      <app-dropdown passedRoute="clients" listName="Clients Lists" />
      <app-dropdown
        passedRoute="client-categories"
        listName="Client Category"
      />
      }
      <li
        (click)="casesToggle()"
        [ngClass]="{ activated: casesDropDown }"
        class="d-flex justify-content-between nav-list"
      >
        <div>
          <a class="nav-link">
            <i class="fa-solid fa-suitcase"></i>
            Cases</a
          >
        </div>
        <div class="arrowDown p-2">
          @if (casesDropDown) {
          <i class="fa-solid fa-chevron-down"></i>
          } @else {<i class="fa-solid fa-chevron-up"></i> }
        </div>
      </li>
      @if (casesDropDown) {
      <app-dropdown passedRoute="cases" listName="Cases List" />
      <app-dropdown passedRoute="case-categories" listName="Case Categories" />
      }
      <li>
        <a class="nav-link" routerLink="court" routerLinkActive="activated">
          <i class="fa-solid fa-building-columns"></i>
          Court</a
        >
      </li>
      <li (click)="closeAllDropdowns()">
        <a class="nav-link" routerLink="calender" routerLinkActive="activated">
          <i class="fa-solid fa-calendar-days"></i>
          Events Calender</a
        >
      </li>
      <li (click)="logOut()">
        <button class="nav-link">
          <i class="fa-solid fa-sign-out"></i>
          logout
        </button>
      </li>
    </ul>
    @if (isSidebarOpen) {
    <button
      class="btn btn-danger close-sidebar d-md-none"
      (click)="toggleSidebar()"
      style="position: fixed; top: 10px; left: 230px; z-index: 1001"
    >
      <i class="fa fa-times"></i>
    </button>
    }
  </div>

  @if (!isSidebarOpen) {
  <button
    class="btn btn-primary toggle-sidebar d-md-none"
    (click)="toggleSidebar()"
    style="position: fixed; top: 10px; left: 10px; z-index: 1001"
  >
    <i class="fa fa-bars"></i>
  </button>
  }
</div>
