<div class="row">
  <div class="primary_input col-md-6">
    <div class="d-flex justify-content-between align-center pb-1 m-0">
      <label for="name" class="required">{{ labelName }}</label>
      @if (addFeature) {
      <label class="label_green">{{ addFeature }}</label>
      }
    </div>
    <input
      required=""
      class="primary_input_field w-100 rounded-5 p-2"
      placeholder="{{ inputPlaceholder }}"
      name="name"
      type="{{ inputType }}"
      id="name"
      [(ngModel)]="enteredData"
    />
  </div>
</div>
