.faq .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: rgba(70, 117, 118, 0.7);

}

.contact-title {
    text-align: center;
    position: relative;
    padding-bottom: 20px;

}

.faq .content p {
    font-size: 15px;
}

.faq .faq-container .faq-item {
    background-color: #fff;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: background-color 0.3s;
}

.faq .faq-container .faq-item:last-child {
    margin-bottom: 0;
}

.faq .faq-container .faq-item h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0 30px 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.faq .faq-container .faq-item h3 .num {
    color: #467576;
    padding-right: 5px;
}

.faq .faq-container .faq-item .faq-toggle {
    font-size: 20px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    color: #000;
}

.faq .faq-container .faq-item .faq-toggle:hover {
    color: #467576;
}

.faq .faq-container .faq-item .faq-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.faq .faq-container .faq-item .faq-content p {
    margin-bottom: 0;
    overflow: hidden;
}

.faq .faq-container .faq-active h3 {
    color: #467576;
}

.faq .faq-container .faq-active .faq-content {
    grid-template-rows: 1fr;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
}

.faq .faq-container .faq-active .faq-toggle {
    transform: rotate(90deg);
    color: #467576;
}

.faq .faq-container .faq-toggle {
    transition: transform 0.3s ease;
}