nav {
  flex-wrap: wrap;
}

@media (max-width: 820px) {
  nav .left-nav,
  nav .search {
    margin: auto;
  }

  nav .left-nav {
    justify-content: space-between;
  }
}

h3 {
  color: var(--mainColor);
}

button {
  background-color: var(--mainColor);
  padding: 5px 15px;
  border-radius: 40px;
  border: none;
  color: white;
}

.search {
  position: relative;
  width: 300px;
  background-color: transparent;
  border-bottom: 2px solid #bce;
}

input[type="search"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  position: relative;
  background-color: transparent;
}

/* input[type="search"]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease;
}

input[type="search"]::after:focus {
  width: 100%;
} */
