.services .service-item {
    position: relative;
    padding-top: 40px;
}

.services {
    margin-top: 40px;
    margin-bottom: 40px;
}

.services .service-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(70, 117, 118, 0.1);
}

.services .service-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: #467576;
    border-right: 5px solid #fff;
}

.services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-right: 50px;
    line-height: 0;
}

.services .service-item .icon i {
    color: rgba(70, 117, 118, 0.3);
    font-size: 56px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    z-index: 2;
    position: relative;
}

.services .service-item .icon:hover i {
    color: #467576;
    transform: scale(1.2);
}

.services .service-item .icon:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: rgba(70, 117, 118, 0.7);
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: transform 0.3s ease-in-out;
}

.services .service-item:hover .icon:before {
    transform: rotate(45deg);
}

.services .service-item .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .service-item .title a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.services .service-item .title:hover {
    color: #467576;
    cursor: pointer;


}

.services .service-item .description {
    line-height: 24px;
    font-size: 14px;
    color: #000;
}

.services .service-item .description:hover {
    line-height: 24px;
    font-size: 14px;
    color: #467576;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}