<div class="wrapper d-flex">
  <div class="start">
    <h2 class="title">Pola Adel</h2>
    <h5 class="mail">mail-gmail.com</h5>
  </div>
  <div class="mid">
    <h2 class="title">Subject</h2>
    <p class="mail">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
      obcaecati consectetur cum nesciunt maxime eligendi et at quidem aliquam
      perferendis, blanditiis labore necessitatibus molestiae nisi architecto
      sit sunt explicabo mollitia.
    </p>
  </div>
  <div class="end">
    <b> 8:30 AM </b>
  </div>
</div>
