@import "../node_modules/ngx-spinner/animations/timer.css";

:root {
  --mainTextColor: #415094;
  --textTablecolor: #828bb2;
}

html,
body {
  color: var(--mainTextColor);
  overflow-x: hidden;
  background: url(./assets/body-bg.jpg);
}

.sidebar-zindex {
  z-index: 999999999999;
}

.table td:not(:first-child) {
  min-width: 200px;
}

td:first-child {
  font-weight: bold;
  color: var(--mainTextColor);
}

.cdk-overlay-container {
  display: none;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
}
