:root {
  --mainTextColor: #415094;
  --textTablecolor: #828bb2;
}

html,
body {
  color: var(--mainTextColor);
  overflow-x: hidden;
  background: url(./assets/body-bg.jpg);
}

.table td:not(:first-child) {
  min-width: 200px;
}
