@import "../node_modules/ngx-spinner/animations/timer.css";

:root {
  --mainTextColor: #415094;
  --textTablecolor: #828bb2;
  --mainColor: #467576;
  --secondaryColor: #626060;
}

html,
body {
  color: var(--mainTextColor);
  overflow-x: hidden;
  /* background: url(./assets/body-bg.jpg); */
  background-color: white;
}

/* Events Calendar Style */
.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
  color: white !important;
  text-decoration: none;
}

.fc .fc-toolbar-title {
  color: white;
}

.fc-day-today {
  background-color: var(--mainColor) !important;
  color: #ffffff;
  border-radius: 5px;
}

/* End of Event Calendar Style */

/* Table Style */
th {
  color: white !important;
}

td {
  background-color: var(--secondaryColor) !important;
  color: white !important;
}

.sidebar-zindex {
  z-index: 999999999999;
}

.table td:not(:first-child) {
  min-width: 200px;
}

td:first-child {
  font-weight: bold;
  color: var(--mainTextColor);
}

/* End of Table Style */

/* Paginator Style */
.cdk-overlay-container {
  display: none;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
}

/* End of Paginator Style */

@media (max-width: 786px) {
  .fc .fc-toolbar {
    flex-direction: column;
  }
  .fc-toolbar-chunk {
    display: flex;
    margin-top: 10px;
  }
}

@media (max-width: 968px) {
  .fc-toolbar-chunk {
    display: flex;
  }
}
