<div class="">
  <app-secondary-nav
    tableTitle="Case Grades"
    addNewButton="New Case Grade"
    (btnClicked)="toggleFormVisibility()"
    (search)="handleSearch($event)"
  />

  <app-adding-form
    *ngIf="isFormVisible"
    [formType]="formType"
    [formHeader]="formHeader"
    [formInputRows]="newGradeInputRows"
    [onFormSubmit]="submitForm"
    (backdropClicked)="toggleFormVisibility()"
    (inputChanged)="checkChangedInput($event)"
    [form]="form"
  ></app-adding-form>

  <app-table
    firstColumnHeader="Grade Name"
    secondColumnHeader="Description"
    thirdColumnHeader="Action"
  >
    @for (grade of paginatedGrades; track $index) {
    <tr>
      <td class="text-center">{{ $index + 1 }}</td>
      <td>{{ grade.name }}</td>
      <td>{{ grade.description }}</td>
      <td>
        <div class="custom-select">
          <select
            name="SELECT"
            id=""
            (change)="onActionSelect($event, grade.id!)"
          >
            <option value="">SELECT</option>
            <option value="Update">Update</option>
            <option value="Delete">Delete</option>
          </select>
          <i
            class="fa-solid fa-arrow-down"
            style="color: var(--mainTextColor)"
          ></i>
        </div>
      </td>
    </tr>
    }
  </app-table>
  <div #paginatorContainer class="paginator-container">
    <mat-paginator
      [length]="grades?.length"
      [pageSize]="5"
      (page)="onPageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
